body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9a135;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #e9a135;
}

.row{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background-color: #e9a135;
}

.header{
    height: 5vh;
    background-color: #3498db;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}

.sidebar{
    justify-content: center;   
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
    /* width: 15%; */
    max-width: 15%;
    flex-grow: 1; 
}

.main{
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
    flex-grow: 1; 
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #9b59b6;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
    flex: 1;
}

.switch-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
}

  
.switch-btn:hover {
    background-color: #555;
}

@media (max-width: 400px) {
    .flex-layout {
      flex-direction: column;
    }
    
    .row{
        flex-direction: column;
    } 
  
    .sidebar {
      max-width: 100%;
      max-height: 10%;
    }    
  }