body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9a135;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.grid-container {
    display: grid;
    grid-template-rows: 5vh auto 5vh;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: #e9a135;
}

.header{
    height: 5vh;
    background-color: #3498db;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #000000;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9b59b6;
    padding: 40px; 
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
    height: auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: auto;
    background-color: #e9a135;
    border-radius: 10px;
}

.sidebar {
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
}

.main {
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    color: #000000;
}

.switch-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
}

.switch-btn:hover {
    background-color: #555;
}

@media (max-width: 400px) {


    .grid-container {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        height: 80vh;
    }

    .row {
        grid-template-columns: 1fr;
        height: 70vh;
    }

    .main {
        min-height: 50vh;
    }


}